body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.nav-hero-section {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 100px;
  padding-left: 0;
  display: flex;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.logo a {
  color: #F9FAF8;
}

.header-link a {
  color: #E5E7EB;
}

ul li a:hover {
  background-color: #111111;
}

.logo {
  margin-right: auto;
  margin-left: 100px;
  font-weight: 900;
  font-size: 24px;
}

.header-link {
  font-size: 18px;
}

img {
  width: 400px;
}

.hero {
  display: flex;
  padding: 100px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-content {
  font-size: 18px;
  color: #E5E7EB;
}

.signup-button {
  background-color: #3882F6;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: none;
}

.info {
  text-align: center;
  padding: 50px;
}

.info-img {
  width: 130px;
  height: 130px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info-block {
  max-width: 150px;
}

.text {
  color: #6b6c6d;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 100px 400px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}